
<div class="banner">
  <div class='container text-center padded'> <h1>Cocktails Index</h1>
    <br>
    <br>
    <form action="/cocktails/new">
      <input type="submit" value="Create a cocktail">
    </form>
  </div> 
</div>

<div class= 'container'>
  <table class='table'>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Ingredients</th>
    </tr>


    <% @cocktails.each do |cocktail| %>
    <tr>
      <td><h3><%= cocktail.id %> </h3></td>
      <td><h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3></td>
      <td><p><%= cocktail.ingredients%></p></td>
      <% end %>
    </tr>
  </table>
</div>