<footer>
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-6">CC0 2016 DanielGordon. No Right Reserved</div> -->
      <div class="col-sm-6 text-right">
      </div>
    </div>
  </div>
</footer>